
@model CreateBookingDto
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Rezervasyon Ekle</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Ad Soyad Giriniz</label>
                                <input type="text" class="form-control" id="Bookingname" asp-for="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" class="form-control" id="phone-number" asp-for="Phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail Adresi</label>
                                <input type="email" class="form-control" id="mail" asp-for="Mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PersonCount">Kişi Sayısı</label>
                                <input type="number" class="form-control" id="person-count" asp-for="PersonCount">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="Date">Rezervasyon Tarihi</label>
                                <input type="date" class="form-control" id="Date" asp-for="Date">
                            </div>
                        </div>


                        <div class="card-action">
                            <button class="btn btn-primary">Rezervasyon Ekle</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

